
  
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif
}
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 ;
    overflow: hidden;
}
.input1{
    width: 400%;
    height: auto;
    display: flex;
}
.input1 input{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
    height: 900px;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 68%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid  transparent;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{ 
    background-color:  transparent;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: transparent;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.titulo{
   
    margin: 80px 0%;
}
nav {
    background-color: #1e8664;
    z-index: 1;
    padding: 20px;   
    display: flex;
    align-items: center;
    margin: 0px;
    position: fixed;
    width: 100%;    
}
nav a{
    text-decoration: none;
    color: rgb(0, 6, 7);
    margin: 0 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
nav a:hover{
    color: chocolate;
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #1e8664;
}
footer a{
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}
footer p{
    margin-top: 2px;
}
.container{
    padding: 0 10px;   
}
.imagem1{
    text-align: center;
}
.c1{
    display: flex;
    justify-content: flex-start;
    margin: 50px 100px;    
    padding: 10px 0%;
    flex-direction: row;
    
}
.d1 img{
    justify-content: center;
    height: 300px;
    width: 300px;   
    padding: 50px 100px;
    border-radius: 50%;    
}
.d1{
    margin: 0 10px;
    flex: 1;    
    justify-content: space-around;   
    border-radius:.5rem ;
    background-color: rgb(169, 240, 240);
}
.d1 h3,h2{
    padding: 0 50px;
}
.d1 p{
    padding: 0 50px;
}
.imagemo{
    display: flex;
    flex-direction: row-reverse;
}
.onça{
    display: flex;
    align-items: end;
}
footer a:hover{
    color: chocolate;
}
.c2{
    display: flex;
    justify-content: flex-start;
    margin: 50px 100px;    
    padding: 10px 0%;
    flex-direction: row;    
}
.d2 img{
    justify-content: center;
    height: 300px;
    width: 300px;    
    padding: 50px 100px;
    border-radius: 50%;    
}
.d2{
    margin: 0 10px;
    flex: 1;    
    justify-content: space-between;    
    border-radius:.5rem ;
    background-color:rgb(169, 240, 240);
}
.d2 h3,h2{
    padding: 0 50px;
}
.d2 p{
    padding: 0 50px;
}
.c3{
    display: flex;
    justify-content: center;
    margin: 50px 100px;   
    padding: 10px 0%;
    flex-direction: row;   
}
.d3 img{   
    height: 300px;
    width: 300px;
    border-radius: 50%;   
    padding: 50px 150px;      
}
.d3{
    margin: 0 300px;
    border-radius:.5rem ;
    
    background-color: rgb(169, 240, 240);
}
.d3 h2{
    padding: 0 50px;
}
.d3 p{
    padding: 0 50px;
}
.h2fora{
    padding: 0 0;
}
.mainsobre{
    background-color: rgb(169, 240, 240);
    margin: 0 50px;
}
.mainsobre img {
    width: 250px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid  #1e8664 ;
}
.mainsobre p{
    padding: 0 100px;
}
.h1dornel{
    padding: 0;
}

.lucas{
    display: flex;
    justify-content: center; 
}
  
.dornellis{
    display: flex;
    justify-content: center; 
}
.sobrenos{
    padding: 150px 15px;
    margin: 0 300px ;
    
}
.h2lucas{
    padding: 0 0;
}
.pinheiro{
    display: flex;
    flex-direction: row;
    margin: 100px 100px;
    padding: 50px 150px;
    border-radius:.5rem ;
    background-color:rgb(169, 240, 240);      
}

.imagem1 img{  
    height: 300px;
    width: 300px;
    border-radius: 50%;   
}


.texto1 h2{
    padding: 0 50px;
}
.texto1 p{
    padding: 0 50px;
}
.biomain{
    padding: 150px 15px;
    margin: 0 100px ;
    font-family: "Bebas Neue", sans-serif; 
}
.macacop{
    display: flex;
    flex-direction: row;
    margin: 100px 100px;
    padding: 50px 150px;
    border-radius:.5rem ;
    background-color:rgb(169, 240, 240);    
}
.imagem2 img{
    
    height: 300px;
    width: 300px;
    border-radius: 50%;  
}
.texto2 h2{
    padding: 0 50px;
}
.texto2 p{
    padding: 0 50px;
}
@media screen and (max-width: 560px){
    .d1 img{
        padding: 0 0px;
        width: 100%;
        height: 150px;
    }
    .d1{
        padding: 30px 0;
        margin: 10px;
    }
    footer a:hover{
        color: chocolate;
    }
    .c1{
        flex-direction: column;
    }
    nav{
       flex-direction: row;
    }
    .slide-box img{
        width: 100%;
        display: flex;
    }
    nav a{
        margin: 0 10px;
    }
    section.slider{
        padding: 0 0px;   
    }
    nav a:hover{
        color: chocolate;
    }
    .d2 img{
        padding: 0 0px;
        width: 100%;
        height: 150px;
    }
    .d2{
        padding: 30px 0;
        margin: 10px;
    }
    .c2{
        flex-direction: column;
    }

    .d3 img{
        padding: 0 0px;
        width: 100%;
        height: 150px;
    }
    .d3{
        padding: 30px 0;
        margin: 10px;
    }
    .c3{
        flex-direction: column;
    }
}
    



