
  
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.input1{
    width: 400%;
    height: auto;
    display: flex;
}
.input1 input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
    height: 900px;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 48%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid  #1e8664;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{ 
    background-color:  #1e8664;

}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color:  #1e8664;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.titulo{
   
    margin: 80px 0%;
}


nav {
    background-color: #1e8664;
    
    padding: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0px;
    position: fixed;
    width: 100%;
    

    
}
nav a{
    text-decoration: none;
    color: rgb(0, 6, 7);
    margin: 0 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;

}
nav a:hover{
    color: chocolate;
}


footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;

}
footer p{
    margin-top: 2px;
}
.container{
    padding: 0 10px;
   
}
.imagem1{
    text-align: center;
}
.c1{
    display: flex;
    margin: 20px 0;
   
    justify-content: center;
    
}
.d1 img{
    width: 100%;
    height: 400px;
    
    
}
.d1{
    margin: 0 100px;
    width: 50%;
    text-align: center;
    border-radius:.5rem ;
    background-color: aliceblue;
}
.d1 p{
    padding: 0 100px;
}
main{
    margin: 0 50px;
}
.imagemo{
    display: flex;
    flex-direction: row-reverse;
}
.onça{
    display: flex;
    align-items: end;
}


@media(min-width:300px) and (max-width:1280px){
   
    nav {
        
        
        z-index: 1;
        display: flex;
        list-style-type: none;
        align-items: center;
        margin: 0px;
        position: fixed;
        width: 100%;
        justify-content: center;
    
        
    }
    nav a{
        text-decoration: none;
        color: rgb(0, 6, 7);
        margin: 0 10px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: large;
    
    }
    nav a:hover{
        color: chocolate;
    }
    
    footer img{
        width: 40px;
        height: 40px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    footer a{
        margin: 20px;
        text-align: center;
        text-decoration: none;
        color: black;
    
    }
    footer p{
        margin-top: 2px;
    }
    .container{
        padding: 0 10px;
       
    }
    .imagem1{
        text-align: center;
    }
    .c1{
        display: flex;
        width: 100%;
       
        justify-content: center;
        flex-direction: column;
        
    }
    .d1 img{
        width: 100%;
        height: 400px;
        
        
    }
    .d1{
        margin: 0 10px;
        width: 100%;
        
        border-radius:.5rem ;
        background-color: #1e8664;
    }
    .d1 p{
        padding: 0px;
    }

}
